[submodule "ros2/teachingless/ros/ws_moveit/src/universal_robots_ros2_description"]
	path = ros2/teachingless/ros/ws_moveit/src/universal_robots_ros2_description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = humble
