[submodule "ros/ws_moveit/src/universal_robots_ros2_description"]
	path = ros/ws_moveit/src/universal_robots_ros2_description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "ros/ws_moveit/src/moveit2"]
	path = ros/ws_moveit/src/moveit2
	url = https://github.com/moveit/moveit2
	branch = humble
