# Example command:
#
#   DOCKER_IMAGE=humble-source docker compose --rm run cpu

services:
  cpu:
    # image: moveit/moveit2:$DOCKER_IMAGE
    image: teachingless:ros
    privileged: true
    network_mode: host
    command: /bin/bash
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $XAUTHORITY:/root/.Xauthority
    environment:
      QT_X11_NO_MITSHM: 1
      DISPLAY: $DISPLAY
  # gpu:
  #   # image: moveit/moveit2:$DOCKER_IMAGE
  #   image: teachingless:ros
  #   privileged: true
  #   network_mode: host
  #   command: /bin/bash
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: 1
  #             capabilities: [gpu]
  #   volumes:
  #     - /tmp/.X11-unix:/tmp/.X11-unix
  #     - $XAUTHORITY:/root/.Xauthority
  #   environment:
  #     QT_X11_NO_MITSHM: 1
  #     DISPLAY: $DISPLAY
  #     NVIDIA_VISIBLE_DEVICES: all
  #     NVIDIA_DRIVER_CAPABILITIES: all
